.container
  .row
    .text-center
      - if user_signed_in?
        = link_to 'Emails', emails_url, class: 'btn btn-info btn-lg'
      - else
        = link_to 'Sign in', new_user_session_url, class: 'btn btn-success btn-lg'
