/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

// footer
.footer {
    bottom: 0;
    width: 100%;
    height: 27px;
    padding-top: 2px;
    margin-top: 15px;
    background-color: #f5f5f5;
}

// container

body>.container {
  min-height: -moz-calc(100vh - 104px);
  min-height: -webkit-calc(100vh - 104px);
  min-height: -o-calc(100vh - 104px);
  min-height: calc(100vh - 104px);
}

.mail-body {
  overflow: hidden;
  white-space: pre-line;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  width: 100vh;
}

.recipients-list {
  max-height: 40px;
  overflow: hidden;
}

.recipients-list span {
  margin-right: 1px
}
