= simple_form_for(@email, url: emails_url, validate: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :subject, placeholder: 'Email Subject'
    = f.input :recipients, collection: system_users, input_html: { class: 'select2', multiple: true }
    = f.trix_editor :body, placeholder: 'Email body'
  .form-actions
    = f.button :submit
    = link_to 'Cancel', emails_url, class: 'btn btn-danger'
