= link_to 'New Email', new_email_path

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th.col-md-3 To
      %th.col-md-7 Mail
      %th.col-md-1 Sent at
      %th.col-md-1 Actions
  %tbody
    - if @emails.any?
      - @emails.each do |email|
        %tr
          %td= recipients(email)
          %td
            %b= email.subject
            %span.mail-body.text-muted= strip_tags email.body
          %td.date_time= email.created_at.iso8601
          %td
            = link_to 'Show', email
    - else
      %tr
        %td.text-center{'colspan' => 4} No emails found
%br
= paginate @emails
