%h2.page-title Show Email

%p
  %b From:
  = @email.sender.name
%p
  %b Subject:
  = @email.subject
%p
  %b Recipients:
  = recipients @email, true
%p
  %b Body:
  %figure.jumbotron
    = raw @email.body
