= simple_form_for(@user, url: url, validate: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: 'Jhon'
    = f.input :email, placeholder: 'user@example.com'
    = f.input :role, collection: User.roles.keys, as: :radio_buttons
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit
    = link_to 'Cancel', admin_users_url, class: 'btn btn-danger'
