= link_to 'New User', new_admin_user_path

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Last sign in at
      %th Actions
  %tbody
    - if @users.any?
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.role
          %td= user.last_sign_in_at
          %td
            = link_to 'Show', admin_user_path(user)
            = link_to 'Edit', edit_admin_user_path(user)
            = link_to 'Destroy', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }
    - else
      %tr
        %td.text-center{'colspan' => 5} No users found
%br
= paginate @users
