%h2.page-title Show User

%p
  %b Name:
  = @user.name || 'N/A'
%p
  %b Email:
  = @user.email
%p
  %b Role:
  = @user.role
%p
  %b Last sign in at:
  = @user.last_sign_in_at
%p
  %b Last sign in IP:
  = @user.last_sign_in_ip
%p
  %b Last sign in count:
  = @user.sign_in_count

= link_to 'Back', admin_users_path
